.header {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    max-height: 1190px;
    height: 1190px;
    padding-top: 55px;
    position: relative;

    &::after {
        content: '';
        bottom: 0;
        left: 0;
        background-image: url(../images/bg_after.png);
        position: absolute;
        width: 100%;
        height: 200px;
    }

    &__navigation {
        &-list {
            display: flex;
            justify-content: center;
            gap: 48px;
            flex-wrap: wrap;
            padding: 0 70px;
            text-align: center;
        }

        &-item {
            padding: 0 10px;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            background-image: linear-gradient(0deg, #fffffb, #ffffff);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
                color: #2AF598;
            }
        }
    }

    &__cart {
        position: absolute;
        top: 4%;
        right: 5%;
        cursor: pointer;

        &-icon {
            transition: 0.5s all;

            & path {
                transition: 0.5s all;

                &:hover {
                    fill: #68c3fb;
                }
            }
        }

        &-wrapper {
            position: relative;

            span {
                position: absolute;
                top: -10%;
                right: -50%;
                background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
                background-repeat: no-repeat;
                border-radius: 50%;
                font-weight: 700;
                font-size: 14px;
                color: #2D3949;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__content {
        text-align: center;
    }

    &__title {
        margin-top: 82px;
        font-style: normal;
        font-weight: 600;
        font-size: 82px;
        line-height: 96px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        max-width: 583px;
        margin: 0 auto;
        margin-top: 44px;
    }

    &__form-search {
        position: relative;
        margin: 0 auto;
        margin-top: 42px;
        max-width: 463px;
        width: 463px;

    }

    input {
        width: 100%;
        height: 70px;
        padding-left: 30px;
        border-radius: 50px;
        border: none;
        background: rgba(255, 255, 255, 0.2);
        color: white;
        transition: all 1s;
        outline: none;
        border: 1px solid white;
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 23px;

        &::placeholder {
            color: white;
            font-size: 20px;
            line-height: 23px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.451);
        }

        &:focus {
            background: rgba(255, 255, 255, 0.451);
            transition: 1s all;
        }
    }

    button {
        position: absolute;
        top: 10px;
        right: 15px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        background-image: url(../images/btn-search.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s all;

        &:hover {
            box-shadow: 0px 0px 17px $primary_color;
        }
    }
}


@include desktop {
    .header {
        height: 800px;

        &__title {
            font-size: 45px;
            margin-top: 45px;
            line-height: 40px;
        }

        &__subtitle {
            font-size: 20px;
            margin-top: 20px;
        }

        &__navigation {
            &-list {
                gap: 20px;
            }

            &-item {
                font-size: 16px;
            }
        }

        &__form {
            &-search {
                width: 300px;
            }
        }
    }
}

@include tablets {
    .header {
        height: 650px;

        &__form {
            &-search{
                input {
                    height: 50px;
                    background-color: rgba(0, 0, 0, 0.616);
                }
                button{
                top: 5px;
                right: 9px;
                width: 40px;
                height: 40px;
                }
            }
        }
    }
}

@include phones{
    .header{
        height: 850px;
        padding-top: 25px;
        &__title{
            margin-top: 25px;
            line-height: 50px;
        }
        &__subtitle{
            background-color: rgba(0, 0, 0, 0.367);
            border-radius: 24px;
            padding: 10px;
        }
        &__navigation{
            &-list{
                gap: 5px;
                flex-direction: column;
            }
        }
    }
}