.references {
    text-align: center;
    margin-top: 168px;

    &__title {
        font-weight: 500;
        font-size: 64px;
        line-height: 75px;
        color: #081323;
    }

    &__subtitle {
        margin-top: 27px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #4F4F4F;
    }

    &__cards {
        margin-top: 62px;
        display: flex;
        gap: 32px;

        &-left {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;

            img {
                max-width: 100%;
            }
        }

        &-right {
            max-width: 50%;

            img {
                max-width: 100%;
            }
        }
    }

    &__card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .references__card-text {
            position: absolute;
            font-weight: 600;
            font-size: 64px;
            opacity: 0;
            color: white;
            transition: 0.5s all;
        }

        img {
            transition: 0.5s all;
        }

        &:hover img {
            filter: brightness(40%);
        }

        &:hover .references__card-text {
            opacity: 1;
        }
    }
}

@include tablets {
    .references {
        margin-top: 60px;
        &__card-wrapper {
            .references__card-text {
                font-size: 30px;
            }
        }
        &__title{
            font-size: 25px;
            line-height: normal;
        }
    }
}

@include phones {
    .references {
        &__card-wrapper {
            .references__card-text {
                font-size: 15px;
            }
        }
    }
}